body
{
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}

.text-super-earth
{
    color: #FFE800;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-super-earth
{
    background-color: #FFE800;  /*helldiver yellow and black*/
    color: #000;
}

.navbar
{
    background-color: #000000;
    border-bottom: 3px solid #FFE800;
}

.navbar-brand, .nav-link
{
    color: #FFE800 !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-link:hover
{
    color: #FFF !important;
}

footer
{
    background-color: #000000;
    padding: 20px 0;
    border-top: 1px solid #333;
    margin-top: 50px;
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}

.btn-enlist
{
    background-color: #FFE800;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
}

.btn-enlist:hover
{
    background-color: #FFF;
    color: #000;
}

.card-img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.warbond-card
{
    background-color: #000;
    border: 2px solid #333;
    transition: border-color 0.3s ease;
    height: 100%;
}
.warbond-card:hover
{
    border-color: #FFE800;
}
.warbond-card-legendary
{
    background-color: #000;
    border: 2px solid #333;
    transition: border-color 0.3s ease;
    height: 100%;
}
.warbond-card-legendary:hover
{
    border-color: #00fff2;
}
.banner-container
{
    position: relative;
}
.premium-badge
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFE800;
    color: #000;
    font-weight: bold;
    padding: 2px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.legendary-badge
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #00ffea;
    color: #000;
    font-weight: bold;
    padding: 2px 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.medal-icon
{
    color: #FFE800;
    font-weight: bold;
}

.inspect-check
{
    display: none;
}
.treason-overlay
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.warning-box
{
    background: #111;
    border: 3px solid #ffe800;
    padding: 30px;
    max-width: 500px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(255, 232, 0, 0.3);
}
#treason-trigger:checked ~ .treason-overlay
{
    display: flex;
}